.header {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
}

.rightContent {
  display: flex;
  justify-content: flex-end;
}

.avatarContent {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: #fff;
  transition: background-color 300ms;
}

.avatarContent:hover {
  background-color: var(--color-primary-hover);
}

.avatar {
  margin-right: 7px;
}
